.nav{
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(25, 25, 25);
    height: 100px;
    transition: all 0.5s linear;
}
.nav h1{
    font-size: 36px;
    padding: 10px;
    color: white;
    text-shadow: 4px 4px 6px rgba(20, 141, 172,0.6);
}
.nav span{
    color: rgb(20, 141, 172);
    text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.150);
}
.nav-icon{
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 1030;
}
.nav-icon a{
    text-decoration: none;
}
.nav-link{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    z-index: -1;
}
.nav-link li{
    padding: 10px;
}
.nav-link li a {
    color: white;
    text-decoration: none;
}
.nav-link a:hover{
    color: rgb(20, 141, 172);
}
.nav-link .nav-active{
    color: rgb(20, 141, 172);
    font-weight: bold;
}
.bar-icon{
    color: white;
    font-size: 24px;
    display: none;
}
.bar-icon:hover{
    cursor: pointer;
}
@media (max-width: 767px){
    .nav-link{
        flex-direction: column;
        width: 100%;
        top: -120px;
        font-size: 0;
        transition: all 0.5s linear;
        position: absolute;
    }
    .bar-icon{
        display: flex;
        margin: 10px 10px 0 20px;
    }
    .nav-link.active{
        top: 14%;
        font-size: 18px;
        position: initial;
    }
    .nav.active{
        height: 330px;
    }
}